{% include 00-opening.html %}
{% include 05-head/post.html %}

{% include 10-body/opening.html body_class='post'%}

{% if page.header_image %}
<header class="container-fluid text-center overlay overlay-light post-custom-header"
 style="background-image: url('{{ page.header_image }}');">
{% else %}
<header class="container-fluid text-center overlay overlay-light post-default-header">
{% endif %}
	<div class="row">
		<div class="col-xs-12">
			<div class="post-header-text">
				<h1 class="post-title">{{ page.title }}</h1>
				<p>{% include utils/french_date.html date=page.date %}</p>
				{% include 10-body/post/thanks.html %}
			</div>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<main class="row">
				<div class="col-xs-12 col-md-8">
					{% include 10-body/post/00-share_buttons.html %}
					{% include 10-body/post/07-prev_next.html %}
					{{ content }}
					{% include 10-body/post/07-prev_next.html %}
					{% include 10-body/post/00-share_buttons.html %}
				</div>
				<aside class="col-xs-12 col-md-4">
					<div class="row">
						{% include 10-body/post/10-last_posts.html %}
						{% include 10-body/post/20-related_posts.html %}
						{% include 10-body/post/30-twitter_feed.html %}
					</div>
				</aside>
			</main>


			<main class="row">
				<div class="col-xs-12">
					{% include 10-body/post/40-comments.html %}
				</div>
			</main>
		</div>
	</div>
</div>

{% include 10-body/closing.html %}
{% include 99-closing.html %}
